
<div class="widget categories">
    <h5>Categories</h5>
    <ul>
        <li><a href="#">Applications &amp; UI Kits</a></li>
        <li><a href="#">Backgrounds &amp; Textures</a></li>
        <li><a href="#">Patterns &amp; Brushes</a></li>
        <li><a href="#">Branding &amp; Logos</a></li>
        <li><a href="#">Devices &amp; Mock-ups</a></li>
        <li><a href="#">Fonts &amp; Typography</a></li>
        <li><a href="#">Forms &amp; Buttons</a></li>
        <li><a href="#">Websites &amp; Web Tech</a></li>
    </ul>
</div>